/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
   font-family: "A Dast Nevis";
   src: url("dastnevis.eot?") format("eot"), url("dastnevis.woff") format("woff"), url("dastnevis.ttf") format("truetype"), url("dastnevis.svg#ADastNevis") format("svg");
   font-weight: normal;
   font-style: normal;
}
